.hidden {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
    display: block;
}

.card {
    display: flex;
}

#side {
    margin: 0 auto;
    width: 300px;
}

#confirm-selections {
    float: right;
    position: absolute;
    right: 0;
}