.hidden {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
    display: block;
}

.card-body {
    width: 150px;
    padding: .5rem;
}

.card-title {
    width: 200px;
    
}



#side {
    margin: 0 auto;
    width: 300px;
}

#confirm-selections {
    float: right;
    position: absolute;
    right: 0;
}

#attacker-jedi {
    background-image: url("../images/bg/rebel.jpg");
    background-size: 150%;
    background-color: #000000;
    height: 700px;
    border-right: 10px solid #571822;
}

#attacker-jedi h3 {
    color: #ffffff;
    text-align: right;
}

#defender-sith {
    background-image: url("../images/bg/empire.jpg");
    background-size: 150%;
    background-color: #000000;
    height: 700px;
    border-left: 10px solid #571822;
}

#defender-sith h3 {
    color: #ffffff;
}

#defender-jedi {
    background-image: url("../images/bg/rebel.jpg");
    background-size: 150%;
    background-color: #000000;
    height: 700px;
    border-left: 10px solid #571822;
}

#defender-jedi h3 {
    color: #ffffff;
    text-align: right;
}

#attacker-sith {
    background-image: url("../images/bg/empire.jpg");
    background-size: 150%;
    background-color: #000000;
    height: 700px;
    border-right: 10px solid #571822;
}

#attacker-sith h3 {
    color: #ffffff;
}

.attacker, .defender{
    margin: 150px auto;
    vertical-align: middle;
}

.jumbotron {
    padding: 0;
}

.attacker-stats {
    color: #ffffff;
    text-align: right;
}

.defender-stats {
    color: #ffffff;
}